@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #83b7f1;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}